.input {
    height: 100px;
}

.form-group.field {
    display: flex;
    margin-bottom: 10px;
}

.form-group.field label {
    flex: 0.5;
    
}

.form-group.field input,
.form-group.field textarea {
    flex: 2;
    padding: 5px; 
}

.form-group.field input::placeholder,
.form-group.field textarea::placeholder {
    color: #999; 
}

.acceptbtn
{
    background-color: #FF8b60;
    color: white;
    border: none; 
}

/*.modal-button {*/
/*    background-color: #FF8b60; !* Set the background color to your desired color *!*/
/*    color: white; !* Set the text color to white *!*/
/*    border: none;*/
/*    padding: 5px 10px; !* Adjust padding as needed *!*/
/*    border-radius: 10px; !* Add border radius for rounded corners *!*/
/*}*/