.post-card[b-e3e9gtpdrp] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.posts-container[b-e3e9gtpdrp] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}