/* _content/BlazorServer/Pages/CreatePost.razor.rz.scp.css */
.input[b-vax338waia] {
    height: 100px;
}

.form-group.field[b-vax338waia] {
    display: flex;
    margin-bottom: 10px;
}

.form-group.field label[b-vax338waia] {
    flex: 0.5;
    
}

.form-group.field input[b-vax338waia],
.form-group.field textarea[b-vax338waia] {
    flex: 2;
    padding: 5px; 
}

.form-group.field input[b-vax338waia]::placeholder,
.form-group.field textarea[b-vax338waia]::placeholder {
    color: #999; 
}

.acceptbtn[b-vax338waia]
{
    background-color: #FF8b60;
    color: white;
    border: none; 
}

/*.modal-button {*/
/*    background-color: #FF8b60; !* Set the background color to your desired color *!*/
/*    color: white; !* Set the text color to white *!*/
/*    border: none;*/
/*    padding: 5px 10px; !* Adjust padding as needed *!*/
/*    border-radius: 10px; !* Add border radius for rounded corners *!*/
/*}*/
/* _content/BlazorServer/Pages/index.razor.rz.scp.css */
.post-card[b-x8xvoqa0o7] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
}
/* _content/BlazorServer/Pages/Login.razor.rz.scp.css */
.card[b-7rls8y6kev] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.field[b-7rls8y6kev] {
    margin-top: 20px;
}
.card.field input[b-7rls8y6kev]::placeholder
{
    color: #999;
}

.field input[b-7rls8y6kev]
{
    border-radius: 15px;
    flex: 2;
    padding: 5px;
    background-color: #DCDCDC;
    color: black;
    border: none;
}

.loginbtn[b-7rls8y6kev] {
    background-color:#0b5ed7;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.loginbtn:hover[b-7rls8y6kev]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
.registerbtn[b-7rls8y6kev] {
    background-color:white;
    color: #0b5ed7;
    border: 1px solid #0b5ed7;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

.registerbtn:hover[b-7rls8y6kev]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
/* _content/BlazorServer/Pages/LoginButtons.razor.rz.scp.css */
.icon[b-hbeg1a8tug] {
    width: 30px;
    cursor: pointer;
}
/* _content/BlazorServer/Pages/UIComponents/Modal.razor.rz.scp.css */
.modal-background[b-7r03oam2sq] { /* This style class makes the background darker, and un-clickable */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.47); /* Black w/ opacity */
    display:block;
}

/* Modal Content/Box */
.modal-box[b-7r03oam2sq] {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000000;
    /*display:inline-block;*/
    width: 30%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    border-radius: 25px;
    box-shadow: 0 5px 30px 15px #3f3f3f;
}
/* _content/BlazorServer/Pages/ViewPosts.razor.rz.scp.css */
.post-card[b-e3e9gtpdrp] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.posts-container[b-e3e9gtpdrp] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* _content/BlazorServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-mxoy4q7bj7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mxoy4q7bj7] {
    flex: 1;
}

.sidebar[b-mxoy4q7bj7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    /*   #FF8b60*/
    
}

.top-row[b-mxoy4q7bj7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-mxoy4q7bj7]  a, .top-row .btn-link[b-mxoy4q7bj7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-mxoy4q7bj7] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-mxoy4q7bj7] {
        display: none;
    }

    .top-row.auth[b-mxoy4q7bj7] {
        justify-content: space-between;
    }

    .top-row a[b-mxoy4q7bj7], .top-row .btn-link[b-mxoy4q7bj7] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mxoy4q7bj7] {
        flex-direction: row;
    }

    .sidebar[b-mxoy4q7bj7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mxoy4q7bj7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-mxoy4q7bj7], article[b-mxoy4q7bj7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-9s0xq2xzhp] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-9s0xq2xzhp] {
    height: 3.5rem;
    background-color: rgba(255, 86, 0, 1);
}

.navbar-brand[b-9s0xq2xzhp] {
    font-size: 1.1rem;
}

.oi[b-9s0xq2xzhp] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9s0xq2xzhp] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9s0xq2xzhp] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9s0xq2xzhp] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9s0xq2xzhp]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-9s0xq2xzhp]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-9s0xq2xzhp]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-9s0xq2xzhp] {
        display: none;
    }

    .collapse[b-9s0xq2xzhp] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-9s0xq2xzhp] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        background-color:  #FF8b60;
    }
}
